# Адрес реального бэкенда, на который будут проксироваться "немоковые" запросы
BACKEND_URL=https://api.example.com

# Порт, на котором поднимется мок-сервер
PORT=4000

# Папка с моками (json-файлы)
MOCKS_DIR=./mocks

# Логировать ли в консоль, какие запросы ушли в мок, а какие в прокси
VERBOSE=true
